<body>
<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>EDUCATION</h4>

      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/workwrap -->


<div class="container profile" id="aboutwrap">


      <div class="container col-lg-offset-3 col-lg-9">
      <h2><b>University</b></h2>
      <h3 ><i class="fa fa-calendar fa-fw "></i>2014 to current</h3>
      <p><u>Undergraduate</u> study at Bachelor’s Degree in Computer Engineering, <br> King Mongkut’s Institute of Technology, Ladkrabang, Bangkok, Thailand</p>

      </div>
  <hr>
      <div class="container col-lg-offset-3 col-lg-7">
      <h2><b>School</b></h2>
      <h3><i class="fa fa-calendar fa-fw "></i>2007-2013</h3>
      <p>High School Certificate : Maths-Science section, Suksanari School, Bangkok, Thailand</p>

      </div>
  <hr>
      <div class="container col-lg-offset-3 col-lg-6">
      <h2><b>Study courses</b></h2>
      <li>Completed in : Computer Programming 1 & 2 </li>
      <li>Learning Angular 2</li>
      </div>

</div>

<div id="social">
  <div class="container">
    <h3>Find me on social media.</h3>
    <div class="row centered">

      <div class="col-lg-2 col-lg-offset-4" style="padding-bottom: 10px; padding-top: 10px">
        <a href="https://www.facebook.com/Mildie.milk"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://twitter.com/MildieMilk"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://www.instagram.com/mildiemilk/"><i class="fa fa-instagram"></i></a>
      </div>


    </div><! --/row -->
  </div><! --/container -->
</div><! --/social -->


</body>
