<body>
<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>SPECIAL SKILL</h4>

      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/workwrap -->

<div class="container profile" id="aboutwrap">

  <div class="container col-lg-offset-3 col-lg-7">
    <h2 ><b>Programming Language</b></h2>

    <li>C,JAVA, HTML,CSS,JQUERY,Assembly,R,VHDL</li>
    <li>Basic : Angular 2,Laravel 5 </li>

  </div>
  <hr>
  <div class="container col-lg-offset-3 col-lg-9">
    <h2 ><b> Hardware Testing Devices</b></h2>

    <p>Function Generator, Digital and Analog Multimeters, Oscilloscope, DC Power Supply</p>

  </div>
  <hr>
  <div class="container col-lg-offset-3 col-lg-6">
    <h2><b>Language</b></h2>
    <li>English : fair </li>
    <li>Chinese Dialect : Basic</li>
  </div>

</div>

<div id="social">
  <div class="container">
    <h3>Find me on social media.</h3>
    <div class="row centered">

      <div class="col-lg-2 col-lg-offset-4">
        <a href="https://www.facebook.com/Mildie.milk"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="https://twitter.com/MildieMilk"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.instagram.com/mildiemilk/"><i class="fa fa-instagram"></i></a>
      </div>

  </div><! --/row -->
</div><! --/container -->
</div><! --/social -->
</body>
