<body>
<div id="workwrap">
  <div class="container">

        <img src="app/pages/igetdorm/logodark-update.png">


  </div> <!-- /container -->
</div><! --/workwrap -->

<div class="container profile" id="aboutwrap">

<div class="container col-lg-offset-1 col-lg-11">
  <h2 ><b>ABOUT THIS START UP</b></h2>
  <h3>Application and website where students can find and reserve dormitory online</h3>
</div>
<hr>
<div class="container col-lg-offset-1 col-lg-11">
  <h2><b>Krungsri Uni Startup 2016 </b></h2>
  <h3> iGetDorm received complimentary award in final round</h3>
  <img src="app/pages/igetdorm/ig.jpg">
</div>
  <div class="container col-lg-offset-1 col-lg-11">
    <h2><b>Start up Thailand </b></h2>
    <h3> iGetDorm has exhibited there </h3>
    <img style="padding-bottom: 20px" src="app/pages/igetdorm/ig2.jpg">
    <img src="app/pages/igetdorm/ig3.jpg">
  </div>
  <div class="container col-lg-offset-1 col-lg-11">
    <h2><b>Follow my project </b></h2>
    <a href="http://www.igetdorm.com">www.igetdorm.com</a>
  </div>



</div>

<div id="social">
  <div class="container">
    <h3>Find me on social media.</h3>
    <div class="row centered">

      <div class="col-lg-2 col-lg-offset-4" style="padding-bottom: 10px; padding-top: 10px">
        <a href="https://www.facebook.com/Mildie.milk"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://twitter.com/MildieMilk"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://www.instagram.com/mildiemilk/"><i class="fa fa-instagram"></i></a>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/social -->
</body>
