<body>
<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>EXPERIENCE</h4>

      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/workwrap -->

<div class="container profile" id="aboutwrap">

  <div class="container col-lg-offset-2 col-lg-10">
    <h2><i class="fa fa-suitcase fa-fw "></i>Experience</h2>
    <h3><i class="fa fa-calendar"></i> 2016 - <u>Current</u> :</h3>
    <h3>Project Start up and received complimentary award from Krungsri Uni Startup 2016</h3>
    <h3>(2016) :  The winner award from Business plan contest by KMITL-UBI</h3>
    <h3>(2016) :  Develop Matrix shooter in Assembly</h3>
    <h3>(2016) :  Develop Point of sale system </h3>
  </div>
  <hr>
  <div class="container col-lg-offset-2 col-lg-9">
    <h3><i class="fa fa-calendar"></i> 2014 - <u>Current</u> : Head of Computer Engineering class</h3>

  </div>
  <hr>
  <div class="container col-lg-offset-2 col-lg-9">
    <h3 ><i class="fa fa-calendar"></i> 2013 - <u>Current</u> : Working as a private tutor on the subject of matematics and sciences</h3>
  </div>




</div>

<div id="social">
  <div class="container">
    <h3>Find me on social media.</h3>
    <div class="row centered">

      <div class="col-lg-2 col-lg-offset-4" style="padding-bottom: 10px; padding-top: 10px">
        <a href="https://www.facebook.com/Mildie.milk"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://twitter.com/MildieMilk"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://www.instagram.com/mildiemilk/"><i class="fa fa-instagram"></i></a>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/social -->
</body>
