<body>
<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>ACTIVITY</h4>

      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/workwrap -->

<div class="container profile" id="aboutwrap">

  <div class="container col-lg-offset-3 col-lg-7">
    <h2 ><b>Participants</b></h2>
    <li>(2016) Young Entrepreneurs Support (Y.E.S) IDEA CAMP</li>
    <li>(2016) New Entrepreneurs Creation & Startup 2016</li>

  </div>
  <hr>
  <div class="container col-lg-offset-3 col-lg-9">
    <h2><b>Camp</b></h2>
    <li>(2016) Boot Camp Krungsri Uni Startup 2016 in final Round</li>
    <li>(2016) Non-stop Hackthon#1 in KMITL</li>
    <li>(2015) Coordinated in CE SMART CAMP#9</li>
    <li>(2015) Volunteer camp in Kanchanaburi</li>
    <li>(2014) Staff in CE SMART CAMP#8</li>
    <li>(2014) Volunteer camp in Rayong</li>
    <li>(2011) CE SMART CAMP#4</li>
    <h5>*CE SMART CAMP is camp for high school students by Computer engineering in KMITL </h5>


  </div>
  <!-- -First-place award from Business plan contest by KMITL-UBI-->
  <!-- -Participants in Young Entrepreneurs Support (Y.E.S) IDEA CAMP-->
  <!-- -Participants in New Entrepreneurs Creation & Startup 2016-->

</div>

<div id="social">
  <div class="container">
    <h3>Find me on social media.</h3>
    <div class="row centered">

      <div class="col-lg-2 col-lg-offset-4" style="padding-bottom: 10px; padding-top: 10px">
        <a href="https://www.facebook.com/Mildie.milk"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://twitter.com/MildieMilk"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2" style="padding-bottom: 10px">
        <a href="https://www.instagram.com/mildiemilk/"><i class="fa fa-instagram"></i></a>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/social -->
</body>
