hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
img{
  width:50%;
  margin: 3px;
  -webkit-border-radius:10px;
  -moz-border-radius:20px;
}
header {
  text-align: center;
  color: white;
  background-color: #18BC9C;
}

header .container {
  padding-top: 40px;
  padding-bottom: 67px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  header {
    padding-top: 90px;
    padding-bottom: 3px;
  }
  header .intro-text .name {
    font-size: 2.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
    letter-spacing: 2px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

  }
}
